---
layout: archive
title: "All Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<p class="publications__intro">
  A selection of my research publications and manuscripts.
</p>

{% assign publications_by_year = site.publications | sort: "date" | reverse | group_by_exp: "publication", "publication.date | date: '%Y'" %}

<div class="publications">
  {% for year in publications_by_year %}
    <section class="publications__year" aria-labelledby="year-{{ year.name }}">
      <h2 id="year-{{ year.name }}">{{ year.name }}</h2>

      {% for post in year.items %}
        <article class="publication-card">
          {% if post.header.teaser %}
            <a class="publication-card__image" href="{{ post.url | relative_url }}" aria-label="Read {{ post.title }}">
              <img src="{{ post.header.teaser | prepend: '/images/' | relative_url }}" alt="">
            </a>
          {% endif %}

          <div class="publication-card__body">
            <h3 class="publication-card__title"><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>

            {% if post.authors %}
              <p class="publication-card__authors">{{ post.authors }}</p>
            {% endif %}

            {% if post.venue %}
              <p class="publication-card__venue">{{ post.venue }}</p>
            {% endif %}

            {% if post.excerpt %}
              <p class="publication-card__summary">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}</p>
            {% endif %}

            {% if post.paperurl or post.codeurl or post.projecturl or post.bibtexurl %}
              <p class="publication-card__links">
                {% if post.paperurl %}<a href="{{ post.paperurl }}"><i class="fa fa-file-pdf" aria-hidden="true"></i> PDF</a>{% endif %}
                {% if post.codeurl %}<a href="{{ post.codeurl }}"><i class="fa fa-code" aria-hidden="true"></i> Code</a>{% endif %}
                {% if post.projecturl %}<a href="{{ post.projecturl }}"><i class="fa fa-link" aria-hidden="true"></i> Project</a>{% endif %}
                {% if post.bibtexurl %}<a href="{{ post.bibtexurl }}"><i class="fa fa-quote-right" aria-hidden="true"></i> BibTeX</a>{% endif %}
              </p>
            {% endif %}
          </div>
        </article>
      {% endfor %}
    </section>
  {% endfor %}

  {% if site.publications.size == 0 %}
    <p>No publications have been added yet.</p>
  {% endif %}
</div>
