# Ignore the contents of the _site directory and other cache directories
_site/
.sass-cache/

# Ignore the directory for local files during development
local/

# Ignore the Gemfile that is generated
Gemfile.lock

# Ignore files created by npm
node_modules
package-lock.json

# Ignore the vendor file at root level and bundle for alternative installation
/vendor/
.bundle/

# Ignore folders related to IDEs
.vscode/

# Ignore generated include HTML files (build artifacts)
_includes/archive-single-talk-cv.html
_includes/archive-single-talk.html
_includes/archive-single.html
_includes/breadcrumbs.html
_includes/footer.html
_includes/head.html
_includes/masthead.html
_includes/post_pagination.html
_includes/scripts.html
_includes/tag-list.html
# head subfolder custom include
_includes/head/custom.html

_config_dev.yml